@font-face {
    font-family: 'Bebas Neue Cyrillic';
    src: local('Bebas Neue Regular'), local('BebasNeueRegular'),
        url('../fonts/BebasNeueRegular.woff2') format('woff2'),
        url('../fonts/BebasNeueRegular.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Roboto Bold';
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
* {
    box-sizing: border-box; /* для всех элементов действует это правило. Позволяет правильно считать высоту и ширину элементов */
}
body {
    font-family: 'Roboto', sans-serif;
}
.header {
    background-color: #635854;
    padding-top: 12px; /* внутренний верхний отступ */
    padding-bottom: 12px; /* внутренний нижний отступ */
    border-bottom: 4px solid #3596F5; /* обводка (border) сплошная (solid), но только снизу */
}
.navbar {
    max-width: 1280px; /* ограничиваю ширину */
    margin: auto;
    display: flex; /* сделал блок гибким */
    justify-content: space-between; /* расставляю элементы по краям */
    align-items: center; /* выравниваю по центру */
}
.navbar-menu {
    margin: 0; /* отключаю внешние отступы */
    padding: 0; /* отключаю внутренние отступы */
    list-style: none; /* отключаю точки у навигации */
    display: flex; /* сделал блок гибким */
    text-align: center; /* выставил текст по центру */
}
.navbar-item {
    margin-left: 40px; /* раздвигаю элементы списка */
    margin-right: 40px; /* раздвигаю элементы списка */
}
.navbar-link {
    text-decoration: none; /* отключаю декорирование (подчеркивание) текста */
    color: #ffffff;
}
.navbar-contacts {
    text-align: right; /* весь текст выравниваем по правому краю */
}
.navbar-text {
    display: block; /* делаю блочным элементом (должен занимать всю строчку) */
    color: #ffffff;
    margin-bottom: 4px; /* нижний отступ */
    font-size: 14px;
    line-height: 16px;
}
.navbar-phone {
    text-decoration: none; /* отключаю декорирование (подчеркивание) текста */
    font-family: "Roboto Bold", sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #ffffff;
}
.main {
    max-width: 1280px;
    margin: auto;
    padding-top: 54px;
    display: flex; /* выстраиваю все содержимое блока main */
}
.main-info {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.home-image path {
    opacity: 0; /* скрываю все svg геометрические фигуры path */
    cursor: pointer;
}
.home-image path:hover {
    opacity: 1; /* делаю видимой svg геометрическую фигуру path при наведении на нее */
}
path.current-floor {
    opacity: 1;
}
.counter-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.counter-button {
    cursor: pointer;
    background-color: #fff;
    border: none; /* убираю обводку у кнопки */
}
.counter-arrow-down {
    transform: rotateX(180deg); /* разворачиваю стрелку по оси X на 180 градусов */
}
.main-title {
    margin: 0;
    font-family: "Bebas Neue Cyrillic", sans-serif;
    font-weight: normal;
    font-size: 37px;
    line-height: 44px;
    color: #635854;
}
.floor-counter {
    font-family: "Bebas Neue Cyrillic", sans-serif;
    color: #635854;
    font-size: 124px;
}
.button-primary {
    background: #3596F5;
    border-radius: 6px;
    color: #ffffff;
    border: none;
    padding: 16px 36px;
    cursor: pointer;
}
.modal {
    position: fixed; /* фиксированная позиция, поверх всего сайта */
    left: 0; /* приклеиваем к левому краю */
    top: 0; /* приклеиваем к верху */
    width: 100%; /* модальное окно перекрывает весь сайт по ширине */
    height: 100%; /* модальное окно перекрывает весь сайт по высоте */
    background-color: rgba(0, 0, 0, 0.8); /* полупразрачный фоновый черный цвет */
    display: flex; /* родительский элемент гибкий */
    justify-content: center;
    align-items: center;
    opacity: 0; /* скрываю модальное окно, оно есть но не видно */
    transform: scale(0); /* окно сжимаю в ноль, его не видно вообще */
    transition: opacity 0.2s; /* добавляю плавность свойству opacity, окно будет появляться плавно */
}
.is-open {
    /* делаю окно видимым */
    opacity: 1;
    transform: scale(1);
}
.modal-dialog {
    position: relative; /* для правильного позиционирования кнопки закрытия диалогового окна */
    max-width: 1000px;
    min-height: 565px;
    background-color: #fff;
    flex-grow: 1;
    display: flex; /* располагались по вертикали сверху вниз, теперь будут по горизонтали */
}
.modal-image {
    background-color: #EBEBEB;
    width: 60%;
    text-align: center; /* весь текст по центру */
    padding: 50px; /* равные со всех сторон внутренние отступы */
}
.flats path {
    opacity: 0;
}
.flats path:hover{
    opacity: 1;
}
.modal-title {
    font-family: "Bebas Neue Cyrillic", sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    margin-top: 0; /* отключаем браузерные отступы сверху */
    margin-bottom: 25px; /* поправляем нижний отступ */
}
.modal-info {
    width: 40%; /* эта часть должна занимать столько пространства модального окна' */
    padding: 50px 46px;  
}
.flat-list {
    padding: 0;
    list-style: none;
    margin-top: 55px;
}
.flat-item {
    margin-bottom: 10px;
}
.flat-link {
    font-size: 16px;
    line-height: 19px;
    color: #635854;
    text-decoration: none;
}
.flat-link:hover {
    color: #3596F5;
    text-decoration: underline;
}
.modal-alert {
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #635854;
    margin-top: 50px;
}
.modal-close-button{
    position: absolute;
    right: 27px;
    top: 38px;
    background: #FFFFFF;
    cursor: pointer;
    border: none;

}