@font-face {
    font-family: 'Bebas Neue Cyrillic';
    src: local('Bebas Neue Regular'), local('BebasNeueRegular'),
        url('../fonts/BebasNeueRegular.woff2') format('woff2'),
        url('../fonts/BebasNeueRegular.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Roboto Bold';
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
* {
    box-sizing: border-box; /* для всех элементов действует это правило. Позволяет правильно считать высоту и ширину элементов */
}
body {
    font-family: 'Roboto', sans-serif;
}
.header {
    background-color: #635854;
    padding-top: 12px; /* внутренний верхний отступ */
    padding-bottom: 12px; /* внутренний нижний отступ */
    border-bottom: 4px solid #3596F5; /* обводка (border) сплошная (solid), но только снизу */
}
.navbar {
    max-width: 1280px; /* ограничиваю ширину */
    margin: auto;
    display: flex; /* сделал блок гибким */
    justify-content: space-between; /* расставляю элементы по краям */
    align-items: center; /* выравниваю по центру */
}
.navbar-menu {
    margin: 0; /* отключаю внешние отступы */
    padding: 0; /* отключаю внутренние отступы */
    list-style: none; /* отключаю точки у навигации */
    display: flex; /* сделал блок гибким */
    text-align: center; /* выставил текст по центру */
}
.navbar-item {
    margin-left: 40px; /* раздвигаю элементы списка */
    margin-right: 40px; /* раздвигаю элементы списка */
}
.navbar-link {
    text-decoration: none; /* отключаю декорирование (подчеркивание) текста */
    color: #ffffff;
}
.navbar-contacts {
    text-align: right; /* весь текст выравниваем по правому краю */
}
.navbar-text {
    display: block; /* делаю блочным элементом (должен занимать всю строчку) */
    color: #ffffff;
    margin-bottom: 4px; /* нижний отступ */
    font-size: 14px;
    line-height: 16px;
}
.navbar-phone {
    text-decoration: none; /* отключаю декорирование (подчеркивание) текста */
    font-family: "Roboto Bold", sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #ffffff;
}
.main {
    max-width: 1280px;
    margin: auto;
    padding-top: 54px;
    display: flex; /* выстраиваю все содержимое блока main */
}
.main-info {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.home-image path {
    opacity: 0; /* скрываю все svg геометрические фигуры path */
    cursor: pointer;
}
.home-image path:hover {
    opacity: 1; /* делаю видимой svg геометрическую фигуру path при наведении на нее */
}
path.current-floor {
    opacity: 1;
}
.counter-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.counter-button {
    cursor: pointer;
    background-color: #fff;
    border: none; /* убираю обводку у кнопки */
}
.counter-arrow-down {
    transform: rotateX(180deg); /* разворачиваю стрелку по оси X на 180 градусов */
}
.main-title {
    margin: 0;
    font-family: "Bebas Neue Cyrillic", sans-serif;
    font-weight: normal;
    font-size: 37px;
    line-height: 44px;
    color: #635854;
}
.counter {
    font-family: "Bebas Neue Cyrillic", sans-serif;
    color: #635854;
    font-size: 124px;
}
.button-primary {
    background: #3596F5;
    border-radius: 6px;
    color: #ffffff;
    border: none;
    padding: 16px 36px;
    cursor: pointer;
}